*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(#F5EEFF, #ebe2f7ff);
}
#root{
    width: 100%;
}

.container{
    background: linear-gradient(#352163, #986ea3ff);
    max-width: 410px;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
/*.container::after{
content: "";
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
}*/
.search-section{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 25px;
}
.search-section .search-input{
    width: 100%;
    height: 100%;
    outline: none;
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    border-radius: 6px;
    padding: 0 20px 0 50px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.25);
    transition: 0.1s ease;
}
.search-section .location-btn{
    height: 54px;
    width: 56px;
    flex-shrink: 0;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.25);
    background: rgba(255, 255, 255, 0.1);
    transition: 0.2s ease;
}
.search-section .location-btn:hover{
    color: #b39fdf;
    border-color: #a38cd9;
}
.search-section .search-input:focus{
    border-color: #a38cd9;
}
.search-section .search-input::placeholder{
    color: #ddd;
    text-transform: none;
}
.search-section .search-form{
    height: 54px;
    width: 100%;
    
}
.weather-section :where(h2, p){
    color: #fff;
}
.weather-section .current-weather{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 50px;
}
.current-weather .weather-icon{
    width: 140px;
    aspect-ratio: 1;
}
.current-weather .temperature{
    margin: 18px 0;
    display: flex;
    font-size: 3.38rem;
}
.current-weather .description{
    font-size: 1.25rem;
}
.current-weather .temperature span{
    font-size: 1.56rem;
    font-weight: 400;
    margin: 5px 0 0 2px;
}
.hourly-forecast{
    padding: 16px 25px;
    border-top: 1px solid rgba(255, 255, 255, 0.25);
}
/*note for scroll*/
.hourly-forecast .weather-list{
    display: flex;
    list-style: none;
    overflow-x: auto;
    gap: 32px;
    scrollbar-width: thin;
    padding-bottom: 16px;
    margin-bottom: -16px;
    scrollbar-color: transparent transparent;
}
.hourly-forecast:hover .weather-list{
    scrollbar-color: #c5bcdb transparent;
}
.hourly-forecast .weather-item{
    display: flex;
    gap: 7px;
    flex-direction: column;
    align-items: center;
}

.hourly-forecast .weather-item .weather-icon{
width: 28px;
aspect-ratio: 1;
}
.no-results{
    color: white;
    display: flex;
    text-align: center;
    flex-direction: column;
    min-height: 460px;
    align-items: center;
    padding: 60px 40px 40px;
}
.no-results .title {
    margin: 25px 0 15px;
}
/*for responsiveness purposes*/
@media (max-width: 624px) {
    body,
    .search-section {
        padding: 20px;
    }
    .hourly-forecast{
        padding: 16px 20px;
    }
    .hourly-forecast .weather-list{
        gap: 24px;
    }
    .no-results {
        padding: 30px;
        min-height: 458px;
    }
}